<div class="container">
  <img src="./assets/mehar.jpeg" class="my-image" alt="description">

  <div><h1>Mehar Mutreja</h1></div>
  <div class="icons">
    <a href="mailto:meharmutreja777@gmail.com" target="_blank">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://www.linkedin.com/in/mehar-mutreja-a8344518b/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/7373Mehar" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>

</div>
